---
import { LoginButton } from 'components/LoginButton'
import SessionLayout from 'layouts/SessionLayout.astro'
import Link from '@julian_cataldo/astro-link/Link.astro'
---

<SessionLayout title="me">
  <ul>
    <li>
      <div><LoginButton client:visible /></div>
    </li>
    <li>
      <Link href={'/'}>Home</Link>
    </li>
  </ul>
  User Needs to be logged in
</SessionLayout>
